.navbar {
  position: sticky;
  top: 0;
  width: 80%; 
  margin: 0 auto; 
  margin-top: -1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #40b01a9e;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.nav-link {
text-decoration: none;
color: #f8eec9;
font-weight: 600;
font-size: 1.2rem;
padding: 10px;
transition: background-color 0.3s;
}

.nav-link:hover {
  transform: scale(1.2);
}

.active {
  background-color: #d7dbdb88;
}

.a:link, .a:visited {
  text-decoration: none;
}